:root {
  /* primary */
  --clr-1: #53866f;
  --clr-2: #73aa91;
  --clr-3: #93cfb4;
  --clr-4: #b6f6d9;
  /* accent */
  --clr-5: #5f401f;
  /* h */
  --clr-h-1: #00203fff;
  --clr-h-2: #294763;
  /* p */
  --clr-p-3: #617d98;
  --clr-p-4: #dbeaf5;
  /* var */
  --clr-red: #bb2525;
  --clr-white: #fff;
  --txt-primary: "Roboto", sans-serif;
  --txt-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --deaultSpacing: 0.2rem;
  --defaultRadius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--clr-white);
  color: var(--clr-h-1);
  margin-top: 5rem;
  line-height: 1.5;
  font-size: 0.9rem;
  font-family: var(--txt-secondary);
}

h1,
h2,
h3,
h4 {
  font-family: var(--txt-primary);
  letter-spacing: var(--deaultSpacing);
  text-transform: capitalize;
  margin-bottom: 0.8rem;
  line-height: 1.25;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.9rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-p-3);
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
@media screen and (min-wdth: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.btn {
  display: inline-block;
  background: var(--clr-2);
  color: var(--clr-4);
  box-shadow: 0 1px 3px var(--dark-shadow);
  padding: 0.4rem 0.8rem;
  letter-spacing: var(--deaultSpacing);
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 750;
  border: 1px solid var(--clr-1);
  transition: var(--transition);
  cursor: pointer;
}
.btn:hover {
  color: var(--clr-1);
  background: var(--clr-3);
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  background: var(--clr-white);
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  position: absolute;
}
.navbar-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}
.navbar-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-heading img {
  margin-bottom: 0;
}
.click-btn {
  background: transparent;
  color: var(--clr-3);
  border: none;
  transition: var(--transition);
  cursor: pointer;
  font-size: 2.85rem;
}
.click-btn:hover {
  color: var(--clr-2);
}
.nav-paths {
  display: none;
}
@media screen and (min-width: 770px) {
  .click-btn {
    display: none;
  }
  .nav-paths {
    display: flex;
    justify-content: flex-end;
  }
  .nav-paths li {
    margin-right: 2rem;
  }
  .nav-paths a {
    color: var(--clr-h-1);
    transition: var(--transition);
    padding: 0.475rem 0;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: var(--deaultSpacing);
  }
  .nav-paths a:hover {
    color: var(--clr-2);
    box-shadow: 0px 3px var(--clr-2);
  }
  .navbar-center {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
  }
}

/* paths */
.accent-paths {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 15rem;
}
.accent-path {
  font-size: 1.8rem;
  color: var(--clr-h-1);
  transition: var(--transition);
}
.accent-path:hover {
  color: var(--clr-5);
}

/* headshots */
.section-center {
  margin: 0 auto;
  width: 90vw;
  max-width: 1165px;
}
.headshots {
  background: var(--clr-4);
  margin-top: -3rem;
  padding-top: 5rem;
  height: 100vh;
  position: relative;
}
.headshots-center {
  display: grid;
  align-items: center;
  height: 100%;
}
.headshots {
  margin-left: 0;
  margin-bottom: 0.5rem;
}
.headshots-cont {
  background: var(--clr-4);
}
.headshots-cont h3,
h4 {
  color: var(--clr-p-3);
}
.headshots .btn {
  margin-top: 1.3rem;
}
/* @media screen and (min-width: 990px) {
  .headshots::before {
    content: "";
    position: absolute;
    top: 0;
    left: 70%;
    right: 0;
    bottom: 0;
    background: var(--clr-white);
  }
  .headshots-center {
    grid-template-columns: repeat(1fr, 60px);
  }
  .headshots h4,
  h3 {
    font-size: 0.9rem;
  }
  .headshots-cont {
    grid-row: 1/1;
    grid-column: 6/-1;
  }
}
@media screen and (min-width: 1165) {
  .headshots h4,
  h3 {
    font-size: 1rem;
  }
  .headshots-cont {
    grid-column: 1 / span 8;
  }
  .headshots h4,
  h3 {
    line-height: 1;
  }
} */
